* { 
    margin: 0;
    padding: 0;                    
}
body, html {
    height: 100%;
}
body {
    background-color: #333;
    font-family: Verdana, Geneva, sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
label {
    font-size: 40px;
    color: #5b6dcd;
}
input {
    font-size: 36px;
    color: lightblue;
    background-color: #5b6dcd;
}
input[type="submit"] {
    border-radius: 50% 20% / 10% 40%;
    border: #5b6dcd solid 15px;             
}
input[type="text"] {
    border: #5b6dcd solid 15px;                                       
    border-radius: 15px;
}
form {
    border-left: #5b6dcd solid 15px;
    padding: 10px;
    background-color: #ddd;
}